body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    position: relative;
    height: 100vh;
    /* background-color: #f0f0f0; Set hero section background color */
    overflow: hidden;
}
.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

p{
    font-weight: bold;
    font-size:20px;
    color:green;
    
}
.content,.middle{
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;

}
.contents{
    position: relative;
    z-index: 1;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: -20px;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; Allows clicks to pass through to the content beneath */
}

.particle {
    position: absolute;
    width: 20px; /* Adjust size of flower particle */
    height: 20px; /* Adjust size of flower particle */
    background-image: url('images.jpg'); /* Set your flower image */
    background-size: cover;
    color:red;
    animation: animateParticle linear infinite;
}
.location{
    font-size:20px;
    text-align: center;
}
.body2{
    text-align: center;
    margin-bottom:1%;
}

@keyframes animateParticle {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

.rotate-img{
    /* transform: rotate(90deg); */
    position: fixed;
    left:0%;
    top:0%;
    /* width:50% */
}  
.rotate-imgs{
    transform: rotate(90deg);
    position: fixed;
    right:-5%;
    top:10%;
    /* width:50% */
}   
.heros{
    margin-top: -10%;
}
.middle{
    margin-top:-10%;    
}
.first{
    margin-left:50%;
    margin-bottom:-10%;
}
.second{
    margin-right:50%;
    margin-bottom:-10%;
}
.third{
    margin-left:50%;
    margin-top:-10%;
}
.fourth{
    margin-right:50%;
    margin-top:-10%;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    margin-top:-5%;
    margin-bottom:-5%;
}


@import: url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
.container{
    margin-left: -2%;
}
.button {
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
  background-color: transparent;
  border: 3px solid purple;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color:purple;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 purple inset, 0 0 20px 2px purple;
  border: 3px solid purple;
}
.photo{
    margin-top:80px;
    margin-left: 4%;
    border-radius: 40%;
}
blockquote {
    position: relative;
    padding-left: 30px;
    font-weight: 600;
    color: #373A63;
    padding: 1.5em;
    padding-right: 0.25em;
    margin-left: 2.25em;
    margin-right: 0.2em;
    max-width: 35em;
    font-size: 15px;
}

blockquote::before {
    content: "“";
    font-family: serif;
    position: absolute;
    right: 100%;
    font-size: 75px;
    line-height: 0px;
    top: 50px;
    color: #674ea7;
    animation: dancing 1s linear infinite;
    display: inline-block;
    transform: rotate(13deg);
}

blockquote::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 80px;
    height: 5px;
    background: #e56d39;
    left: 1em;
}
@keyframes dancing{
    0% {
        transform: rotate(13deg) scale(1.25);
    }
    
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-13deg) scale(1.25);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(13deg) scale(1.25);
    }
}
.thoughts{
    margin-left:35%;
}
.h2{
    margin-top:50px;
    text-align: center;
    color:green;
}

@media (max-width:488px){
    .rotate-img{
        position: fixed;
        left:0%;
        top:0%;
        height: 200px;
        /* width: */
    }
    .rotate-imgs{
        transform: rotate(90deg);
        position: fixed;
        right:-10%;
        top:4.1%;
        height:230px;
    }
    .content{
        text-align:center;
        margin-top:90px;
        width:auto;
        /* margin-left:px; */
    }
    .shadow{
        object-fit: cover;
        height:300px;
        width:550px;
    }
    .first,.second,.third,.fourth{
        height:400px;
    }
    .grid{
        margin-left:-50%;
        gap:120px;
    }
}